# External Services
NEXT_PUBLIC_STRAPI_API=https://ergo-platform-cms-nvbpfiue6q-ez.a.run.app

# Email Settings (Required for Contact Form)
# Provide SMTP credentials to enable email forwarding.
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_username
SMTP_PASS=your_password
SMTP_SECURE=false
SMTP_FROM=no-reply@ergoplatform.org
